@mixin btn{
    background: #FFD708;
    border-radius: 50px;
    }
@mixin text_donate{
    font-family: Jost;
    // color: white;
    color: black;
}

@mixin nav{
    // background-color: #13A699;
    background-color: #33b5e5;
}

@mixin navbar-nav{
    padding-right: 7%;
}

@mixin nav-link{
    margin-left: 30px;
    font-family: 'Jost', sans-serif;
    font-size: 125%;
}

@mixin dropdown-menu{
    background-color: #13A699;
    border: 0;
}

@mixin dropdown-item{
    color: white;
    /* margin-right: 100%; */
}